<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Things app 基本结构</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 为了让页面美观 引入一个样式 -->
</head>
<body>
    <div class="container">
        <%- body%>
        <!--  exj 模板 用法<%- %> 中间不要漏掉关键的减号 ”-“ 
            body 就是app中 指向的index内容
        -->
    </div>
</body>
</html>